*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    background:#fff6ef;

    color:#333;

}



/* HEADER */

header{

    background:linear-gradient(135deg,#ff8a3d,#ffb347);

    color:white;

    text-align:center;

    padding:60px 20px;

    border-radius:0 0 35px 35px;

}



header h1{

    font-size:42px;

    font-weight:800;

}



header p{

    font-size:20px;

    margin-top:12px;

}



/* CONTAINER */

.container{

    padding:20px;

    padding-bottom:260px;

}



/* CARD */

.card{

    background:white;

    border-radius:28px;

    margin-bottom:30px;

    overflow:hidden;

    box-shadow:0 8px 20px rgba(0,0,0,.12);

    transition:.25s;

}



.card:active{

    transform:scale(.98);

}



/* FOTO */

.card img{

    width:100%;

    height:300px;

    object-fit:cover;

}



/* ISI */

.card h2{

    font-size:32px;

    padding:20px 20px 0;

}



.rating{

    padding:10px 20px;

    font-size:18px;

}



.rating span{

    color:#777;

}



.card h3{

    color:#ff7b00;

    font-size:30px;

    padding:0 20px;

}



/* COUNTER */

.counter{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:25px;

    padding:25px;

}



.counter button{

    width:70px;

    height:70px;

    border:none;

    border-radius:50%;

    background:#ff8a3d;

    color:white;

    font-size:40px;

    font-weight:bold;

}



.counter span{

    font-size:28px;

    font-weight:bold;

    min-width:110px;

    text-align:center;

}



/* CHECKOUT */

.checkout{

    position:fixed;

    bottom:0;

    left:0;

    width:100%;

    background:white;

    padding:25px;

    box-shadow:0 -8px 20px rgba(0,0,0,.18);

    border-radius:25px 25px 0 0;

}



#namaPembeli{

    width:100%;

    padding:22px;

    font-size:24px;

    border-radius:18px;

    border:2px solid #ddd;

    margin-bottom:20px;

}



.total-box{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

    font-size:24px;

}



.total-box b{

    font-size:34px;

    color:#ff7b00;

}



.checkout button{

    width:100%;

    border:none;

    padding:24px;

    border-radius:20px;

    background:#25D366;

    color:white;

    font-size:28px;

    font-weight:bold;

    }

/* ===========================
   TABLET
=========================== */

@media (min-width:768px){

.container{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

}

.card{

    margin-bottom:0;

}

}


/* ===========================
   DESKTOP
=========================== */

@media (min-width:1024px){

.container{

    width:1100px;

    margin:auto;

    grid-template-columns:repeat(3,1fr);

}

header h1{

    font-size:60px;

}

header p{

    font-size:26px;

}

.checkout{

    width:500px;

    left:50%;

    transform:translateX(-50%);

    border-radius:30px;

}

    }
