*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

background:linear-gradient(135deg,#ffd6e8,#fff5b8);

}



nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px;

background:#ff6b81;

color:white;

}



nav a{

color:white;
text-decoration:none;
margin:10px;

}



header{

text-align:center;
padding:50px;

color:white;

background:#ff8fa3;

}



.produk{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

padding:40px;

}




.card{

background:white;

width:230px;

padding:20px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 20px #aaa;

animation:muncul 0.8s;


transition:.3s;

}




.card:hover{

transform:translateY(-10px);

}



.card img{

width:180px;

height:150px;

object-fit:cover;

border-radius:15px;

}



button{

background:#ff6b81;

color:white;

border:none;

padding:12px 20px;

border-radius:20px;

cursor:pointer;

}



button:hover{

background:#ff4757;

}




.keranjang{

background:white;

margin:40px auto;

padding:30px;

width:80%;

border-radius:20px;

}



.checkout{

background:#25D366;

width:100%;

}



footer{

text-align:center;

padding:30px;

}




@keyframes muncul{

from{

opacity:0;

transform:translateY(30px);

}


to{

opacity:1;

transform:translateY(0);

}

  }
